#centered {
    text-align: center;
}

#border {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 20px;
}

#innerTables {
    border: hidden;
}

#innerBox {
    border: 1px solid black;
}

td {
    padding: 5px;
}
