body {
    font-size: 15px;
}

p {
    font-family: Consolas, 'Edwardian Script ITC';
    color: #0094ff;
}

    p:first-line {
        font-weight: 600;
    }

    p:first-letter {
        font-family: Elephant;
        font-size: 2.2em;
    }
