body {
   font-size: 20px;
}

nav ul {
   position: relative;
   list-style: none;
}

nav ul ul {
   display: none;
}

nav ul li:hover > ul {
   display: block;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
}

a:last-child {
   color: #AEBAC6;
}